const { defineConfig } = require("cypress")
const {downloadFile} = require('cypress-downloadfile/lib/addPlugin')

module.exports = defineConfig({
  e2e: {
    projectId: 'contao',
    env: {
      HOST: 'https://yourdomain.com',
      ADMIN_ID: 1,
      ADMIN_USERNAME: 'admin',
      ADMIN_PASSWORD: 'password',
    },
    videoCompression: 15,
    setupNodeEvents(on, config) {
      // implement node event listeners here
    },
  },
})
